.checkbox {
  background-color: transparent;
  border: none;
  content: url(./svgs/check_box.svg);
  width: 14px;
  height: 14px;
  padding: 0px;
}

.cell-checkbox {
  margin-top: 4px;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-checkbox:hover {
  opacity: 1;
  cursor: pointer;
}

.checked .checkbox {
  content: url(./svgs/checked_check_box.svg);
}

.all-labels-container {
  height: 100%;
  display: flex;
  gap: 9px;
  justify-content: flex-start;
  align-items: center;
  padding: 9px 14px;

  flex-wrap: wrap;
  overflow: hidden;
}

.add-label-icon {
  content: url('./svgs/plus.svg');
  width: 8px;
  height: 8px;
}

.light .add-label-icon {
  content: url('./svgs/plus_light.svg');
  width: 8px;
  height: 8px;
}

.add-label.light {
  border: 1px solid transparent;
  background-color: transparent !important;
}

.add-label {
  cursor: pointer;
  border: 1px solid #b1b0ad;
  background-color: #454a55 !important;

  border-radius: 2px;
  width: 16px;
  height: 16px;
  margin: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.add-label:hover {
  border-color: #006ae0;
}
.add-label:hover .add-label-icon {
  content: url('./svgs/plus-hover.svg');
}

.label-container {
  height: 10px;
  border-radius: 6px;
  padding: 6px;
  width: fit-content;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.label-color {
  border-radius: 100%;
  width: 14px;
  height: 14px;
}

.delete-label {
  mask: url('./svgs/delete-label.svg');
  cursor: pointer;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  position: relative;
}

.label-title {
  opacity: 1;
  font-size: 13px;
  word-break: keep-all;
  white-space: nowrap;
  cursor: pointer;
}

.remove-label {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  width: 15px;
  height: 15px;
  margin-left: auto;
  margin-right: -2px;
}

.remove-label-icon {
  content: url(./svgs/close_icon.svg);
  width: 15px;
  height: 15px;
}

.remove-label:hover {
  transform: scale(1.05);
}

.select-dropdown-container .labels-chooser-container {
  transform: translateX(0);
  position: absolute;
  top: 36px;
}

.labels-chooser-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: fit-content;

  border-radius: 6px;
  background-color: white;
  transform: translateX(-50%);

  z-index: 100;

  padding: 8px;
}

.labels-cell {
  padding: 0 !important;
}

.labels-list {
  display: grid;
  grid-template-columns: 1fr;

  width: 100%;
  max-height: 250px;

  overflow: auto;
  margin-top: 10px;
}

.label-option {
  display: flex;
  height: 15px;
  padding: 4px 8px;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.label-option:hover {
  background-color: #313740;
}

.label-option.light:hover {
  background-color: #f0f1f3;
}

.label-option-checkbox {
  background-color: transparent;
  border: none;
  content: url(./svgs/check_box.svg);
  width: 14px;
  height: 14px;
  padding: 0px;
  opacity: 0.7;
}

.light .label-option-checkbox {
  opacity: 1;
  content: url(./svgs/check_box_light.svg);
}

.light .label-option-checkbox.selected {
  content: url(./svgs/checked_check_box_light.svg);
}

.label-option-checkbox:hover {
  opacity: 1;
}

.label-option-checkbox.selected {
  content: url(./svgs/checked_check_box.svg);
}

.add-new-label {
  display: flex;
  gap: 10px;
  border-radius: 3px;
  align-items: center;
  padding: 4px 8px 4px 11px;
  font-size: 13px;
  justify-content: flex-start;
  cursor: pointer;
}
.add-new-label .label-color {
  margin-left: 4px;
}

.add-new-label:hover {
  background-color: #313740;
}

.new-label-title,
.labels-chooser-container .label-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.labels-search {
  min-width: 200px;
  border-radius: 12px !important;
  padding: 5px 16px 5px 16px !important;
  height: 24px;
  font-size: 15px;
  margin: 8px;
}
.empty-date .DD_MM_YYYY .cell-date-content,
.empty-date .YYYY_MM_DD .cell-date-content,
.empty-date .MM_DD_YYYY .cell-date-content {
  color: rgb(189, 189, 189);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.empty-date .DD_MM_YYYY .cell-date-content::before,
.empty-date .YYYY_MM_DD .cell-date-content::before,
.empty-date .MM_DD_YYYY .cell-date-content::before {
  color: rgb(189, 189, 189);
  font: Mulish;
}

.empty-date .DD_MM_YYYY .cell-date-content::before {
  content: 'dd/mm/yyyy';
}

.empty-date .MM_DD_YYYY .cell-date-content::before {
  content: 'mm/dd/yyyy';
}

.empty-date .YYYY_MM_DD .cell-date-content::before {
  content: 'yyyy/mm/dd';
}

.new-label-placeholder {
  color: #6b6b6c;
  padding-left: 8px;
}
