.table-filters-container {
  padding: 8px;
  min-width: 520px;
}

.table-filters-menu {
  transform: translateX(-100%) translateY(-15px);
  border-radius: 16px;
  border: 1px solid black;
  padding: 8px;
}

.active-filters-heading {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 3px;
}
.active-filters-heading-label {
  font-size: 20px;
}
.active-filters-heading-icon {
  content: url('./svgs/open-filter.svg');
  height: 20px;
  width: 20px;
}

.filter-index {
  color: rgba(253, 251, 254, 0.7);
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.select-dropdown-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;

  user-select: none;
  cursor: pointer;
  white-space: nowrap;

  max-width: 100%;
  height: 32px;

  background-color: white;
  border: 1px solid rgba(55, 53, 47, 0.16);
  border-radius: 12px;
}

.dropdown-arrow {
  content: url(./svgs/right-arrow.svg);
  transform: rotate(90deg);
  width: 12px;
  height: 12px;
}

.select-dropdown-button {
  border: none;
  background-color: transparent;
  padding: 2px 8px 2px 10px;

  display: flex;
  align-items: center;
  gap: 8px;

  color: #333333;
  cursor: pointer;
}

.select-dropdown-selection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 8px;
  padding: 8px;
  position: absolute;
  width: fit-content;
  left: 0px;
  top: 36px;
  z-index: 4;
  border-radius: 16px;
  background-color: #212831;
  overflow: hidden;
}

.select-dropdown-item {
  padding: 9px;
  padding-right: 20px;
  border: none;
  background-color: transparent;
  position: relative;
  text-align: left;
  white-space: nowrap;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: 28px;
  cursor: pointer;
  border-radius: 8px;
}

.select-dropdown-item.separate {
  border-top: 1px solid grey;
}

.open-up .select-dropdown-selection {
  top: -110px;
}

.active-filters {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.filter-row {
  display: flex;
  height: 36px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 12px;
  margin-bottom: 10px;
}

.column-chooser,
.rule-chooser,
.value-chooser {
  display: flex;
  height: fit-content;
}

.remove-rule-button {
  margin-left: auto;
  cursor: pointer;
  height: 28px;
  width: 28px;

  border: none;
  background-color: transparent;
  padding: 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 3px;
}

.remove-rule-icon {
  content: url(./svgs/close_icon.svg);
  height: 22px;
  width: 22px;
}

.hiddenRow {
  display: none !important;
}

.colItem .select-dropdown-item-icon,
.column-chooser .selected-icon {
  width: 15px;
  height: 15px;
}

.colItem.textType .select-dropdown-item-icon,
.column-chooser .selected-icon.textType {
  content: url(./svgs/types/text_type.svg);
}
.colItem.numberType .select-dropdown-item-icon,
.column-chooser .selected-icon.numberType {
  content: url(./svgs/types/number_type.svg);
}
.colItem.dateType .select-dropdown-item-icon,
.column-chooser .selected-icon.dateType {
  content: url(./svgs/types/date.svg);
}
.colItem.labelsType .select-dropdown-item-icon,
.column-chooser .selected-icon.labelsType {
  content: url(./svgs/types/label.svg);
}
.colItem.checkboxType .select-dropdown-item-icon,
.column-chooser .selected-icon.checkboxType {
  content: url(./svgs/types/checkbox_type.svg);
}
.colItem.currencyType .select-dropdown-item-icon,
.column-chooser .selected-icon.currencyType {
  content: url(./svgs/types/currency.svg);
}

.rule-chooser .select-dropdown-item,
.value-chooser .select-dropdown-item {
  padding-left: 15px;
}

.filter-value-input {
  height: 14px;
  border-radius: 12px;
  padding: 8px;
}

.select-dropdown-itemLabel {
  background-color: transparent;
}

.group-action-remove-icon {
  content: url('./svgs/trash.svg');
}

.group-action-button.remove:hover {
  border-color: #ff4c71;
}

.group-action-button.remove:hover .group-action-remove-icon {
  content: url('./svgs/trash_red.svg');
}

.group-action-button {
  display: flex;
  align-items: center;

  cursor: pointer;
  white-space: nowrap;

  padding: 6px 16px;
  margin-top: 12px;
  margin-bottom: 6px;
  width: fit-content;
  height: 28px;

  background: white;
  border: 1px solid rgba(55, 53, 47, 0.16);
  border-radius: 8px;
}

.filters-group-separator {
  width: 100%;
}

.filters-group-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  width: 100%;
}

.group-actions-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.concatenation-rule {
  color: rgba(253, 251, 254, 1);
  width: max-content;
}

.remove-filters-group {
  margin-left: 20px;
}

.remove-filters-group-icon {
  content: url(./svgs/trash_can_black.svg);
  width: 16px;
  height: 16px;
}

.filterStatusIndicatorScrollContainer {
  position: absolute;
  height: 0px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  top: -50px;
  right: -7px;
}

.tableFocus .filterStatusIndicatorScrollContainer {
  top: -60px;
}

.filterStatusIndicator {
  display: inline-flex;
  width: fit-content;
  flex-direction: column;
  position: sticky;
  font-size: 12px;
  border: 0;
  border-radius: 3px;
  padding: 4px 8px;
  right: -10px;
  align-items: flex-end;
  gap: 5px;
  z-index: 10;
}

.active-filters-actions {
  display: flex;
  height: 28px;
}

.open-actions-filter-icon {
  content: url(./svgs/open-filter.svg);
  height: 20px;
  stroke-width: 5px;
  aspect-ratio: 1;
}

.no-filters .open-actions-arrow-icon {
  display: none;
}

.open-actions-arrow-icon {
  content: url(./svgs/filters-tooltip.svg);
  aspect-ratio: 1;
}

.open-actions-label {
  color: white;
  font-weight: 600;
}

.open-actions-button {
  --disabled-filters: #5d6165;
  --primary-filters: #027aff;
  --hover-filters: #006ae0;
  --active-filters: #005cc2;
  outline: none;
  border: 1px solid #027aff;
  cursor: pointer;
  background-color: var(--primary-filters);
  padding: 5px 12px;
  gap: 10px;
  transform: translateY(-10px);

  border-radius: 12px;
  height: 32px;

  display: flex;
  align-items: center;
}

.open-actions-button:hover {
  outline: none;
  background-color: var(--hover-filters);
  border-color: white;
}

.no-filters.open-actions-button {
  border-radius: 12px;
  width: 60px;
  height: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.28);
}

.open .tableFocus .open-actions-button {
  background-color: var(--active-filters);
}

.open .no-filters.open-actions-button {
  border: none;
  background-color: var(--primary-filters);
}

.open .tableFocus .open-actions-button:hover {
  border: none;
  background-color: var(--hover-filters);
}

.disable.open-actions-button {
  display: none;
}

.tableFocus .open-actions-button {
  transform: translateY(0);
}

.tableFocus .no-filters.open-actions-button {
  display: flex;
}

.tableFocus .disable.open-actions-button {
  background-color: var(--disabled-filters);
  border: 1px solid #ffffff47;
  display: flex;
}

.no-filters.open-actions-button:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.08);
}

.open-actions-button-label {
  font-size: 15px;
}

.actions-tooltip {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: right;
  z-index: 10;
  border-radius: 16px;
  gap: 8px;
}

.enable-filters-button,
.manage-filters-button,
.clear-filters-button {
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #15191e;
  color: #fdfbfe;
  border: none;
  height: 28px;
  gap: 3px;
  border-radius: 8px;
  cursor: pointer;
}

.manage-filters-button:hover,
.enable-filters-button:hover,
.clear-filters-button:hover {
  background-color: #313740;
}

.manage-filters-icon {
  content: url('./svgs/manage_filters.svg');
  width: 15px;
  margin-right: 4px;
}

.clear-filters-icon {
  content: url('./svgs/trash.svg');
  margin-left: -2px;
}

.enable-filters-icon {
  content: url('./svgs/enable-filters.svg');
  padding: 4px 6px 4px 2px;
}

.disable .enable-filters-icon {
  content: url('./svgs/disable-filters.svg');
  padding: 0;
  margin-left: -2px;
}
